* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(HotelPageFonts/Montserrat.ttf);
}

@font-face {
  font-family: Ramabhadra;
  src: url(HotelPageFonts/Ramabhadra.ttf);
}

.hidden-class {
  display: hidden;
}

@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf) format(ttf),
    url(fonts/Montserrat-VariableFont_wght.ttf) format(ttf);
}

/* ОБЩАЯ НАВИГАЦИЯ */
#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  font-weight: 500;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 1em auto;
  padding: 0 40px;
}

#nav-left,
#nav-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

#nav a {
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  color: #000;
  height: 60px;
}

#nav a,
#nav button {
  font-size: 14.5px;
  font-family: inherit;
  font-weight: 500;
}

#nav .login-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: #ffffff;
  color: #112211;
  border: none;
  cursor: pointer;
}

#nav .sign-up-btn {
  padding: 8px 16px;
  border-radius: 8px;
  background: #112211;
  color: #fff;
  border: none;
  cursor: pointer;
}

#nav .sign-up-btn:hover {
  background-color: #8DD3BB;
}

#nav .login-btn:hover {
  border: 1px solid #8DD3BB;
  text-decoration: underline;
}

#nav a:hover {
  text-decoration: underline;
}

.nav-logo {
  width: 110.35px;
  height: 36px;
}

.nav-settings {
  width: 24px;
  height: 24px;
}

#active-link {
  height: 100%;
  border-bottom: 4px solid #8DD3BB;
}

/* DROPDOWN MENU FOR LOG IN AND SIGN UP */
.dropdown {
  display: none;
  position: relative;
}

.desktop-btn {
  display: inline-block;
}

.dropbtn {
  background-color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 120px;
  border-radius: 5px;
  z-index: 1;
  flex-direction: column;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.dropdown-content .tab {
  display: block;
  padding: 10px;
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* MODAL WINDOW FOR LOG IN AND SIGN UP */
.auth-modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.auth-modal.active {
  display: flex;
}

.auth-box {
  background: #fff;
  width: 25em;
  height: 400px;
  padding: 30px;
  border-radius: 16px;
  position: relative;
}

.close {
  position: absolute;
  top: 12px;
  right: 16px;
  font-size: 24px;
  cursor: pointer;
}

.auth-tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.auth-tab {
  flex: 1;
  padding: 10px;
  margin-top: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background: #eee;
}

.auth-tab.active {
  background: #112211;
  color: white;
}

.auth-form {
  display: none;
}

.auth-form.active {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.auth-tab.active:hover {
  background: #8fd3b6;
}

.auth-form input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-form button {
  background: #8fd3b6;
  border: none;
  padding: 12px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.auth-form button:hover {
  background: #73a991;
}

@media screen and (max-width: 780px) {

  /* NAVIGATION */
  #nav {
    justify-content: center;
    margin: 1em 1em;
    gap: 10px;
  }

  #nav-left {
    order: 2;
  }

  #nav-right {
    order: 3;
  }

  #logo {
    order: 1;
    padding-right: 70px;
  }

  .nav-p {
    display: none;
  }

  .dropdown {
    display: inline-block;
  }

  .desktop-btn {
    display: none;
  }

  #nav #login-btn {
    border: 2px solid #112211;
  }

  #nav #login-btn:hover {
    border: 2px solid #8DD3BB;
  }

}

@media screen and (max-width: 480px) {

  #nav-left,
  #nav-right {
    gap: 8px;
  }
}

#back-photo {
  width: 100%;
  height: 80vh;
  background-image: linear-gradient(to right, rgba(25, 38, 122, 0.6) 0%, rgba(0, 0, 0, 0) 80%),
    url("pics/image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 3em;
}

#header-text {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: xx-large;
  justify-content: center;
  width: 30%;
  margin-top: 3em;
  margin-left: 3em;
}

#header-text h3 {
  font-family: 'Ramabhadra', sans-serif;
  letter-spacing: 0.5px;
  font-weight: 400;
  line-height: 1.3;
}

#header-text h4 {
  font-family: 'Ramabhadra', sans-serif;
  font-weight: 400 !important;
  font-size: large;
  letter-spacing: 0.5px;
}

/* --- SEARCH SECTION*/
.search-section {
  position: relative;
  z-index: 10;
  margin-bottom: 60px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}

.search-card {
  background: white;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
  margin-top: -100px;
}

.search-tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 24px;
  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 10px;
}

.search-tabs p {
  margin: 0;
}

/*INPUT DATES*/
.search-inputs-row {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.input-group {
  border: 1px solid #79747E;
  border-radius: 4px;
  padding: 8px 16px;
  flex: 1;
  min-width: 140px;
  position: relative;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group.wide {
  flex: 1.5;
}

.input-group label {
  display: block;
  font-size: 12px;
  color: #112211;
  margin-bottom: 4px;
}

.clean-input {
  border: none;
  outline: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #112211;
  width: 100%;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.dual-input {
  display: flex;
  align-items: center;
  gap: 2px;
  width: 100%;
}

.dual-input .clean-input {
  flex: 1;
  min-width: 0;

}

.separator {
  color: #112211;
  font-weight: 500;
  padding: 0 4px;
  flex-shrink: 0;
}

.date-small {
  font-size: 14px;
}

.clean-number {
  width: 40px;
  flex: none !important;
}

/* --- FOOTER & BUTTONS --- */
.search-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 24px;
}

.add-promo {
  text-decoration: none;
  color: #112211;
  font-size: 14px;
  font-weight: 500;
}

.btn-show-flights {
  background-color: #8DD3BB;
  /* Цвет из кода 2 */
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.2s;
}

.btn-show-flights:hover {
  background-color: #7bc1a9;
}

/* --- MEDIA QUERIES --- */
@media screen and (max-width: 1024px) {
  .search-section {
    padding: 0 24px;
  }

  .input-group {
    flex: 1 1 45%;
  }
}

@media screen and (max-width: 780px) {

  /* HEADER */
  #back-photo {
    height: 50vh;
  }

  #header-text {
    margin: 0 auto;
    margin-top: 4em;
    text-align: center;
    width: 60%;
    font-size: x-large;
  }

  #header-text h4 {
    margin-top: 0.2em;
    font-size: medium;
  }

  /* FORM */
  .search-card {
    padding: 20px;
    margin-top: -50px;
  }

  .search-inputs-row {
    flex-direction: column;
    gap: 12px;
  }

  .input-group {
    width: 100%;
    box-sizing: border-box;
  }

  .search-footer {
    flex-direction: column;
    align-items: stretch;
  }

  .btn-show-flights {
    justify-content: center;
  }
}

/* MAP PLACES */
.places_map {
  font-family: sans-serif;
  margin: 1em 5.7em;
  margin-top: 2.5em;
}

.text_map {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  width: 100%;
}

.text_map h2 {
  margin-bottom: 10px;
}

.text_map p {
  max-width: 60%;
}

#btn-see-all {
  border: 1px solid #8DD3BB;
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  font-family: inherit;
  white-space: nowrap;
}

#img_map {
  width: 100%
}

/* FOOTER */
.footer {
  background-color: #8DD3BB;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 150px;
  padding-bottom: 30px;
}

.subscribe-banner {
  background-color: #CDEAE1;
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  top: -100px;
  padding: 15px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}

.subscribe-content {
  flex: 1;
  max-width: 600px;
}

.subscribe-content h2 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 24px;
}

.sub-title {
  font-size: 20px;
  font-weight: 700;
  opacity: 0.8;
}

.sub-text {
  font-size: 16px;
  opacity: 0.6;
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex !important;
  gap: 16px;
  margin-top: 24px;
  width: 100%;
}

.subscribe-form input {
  background-color: #ffffff;
  border: 1px solid transparent;
  outline: none;
  border-radius: 8px;
  padding: 18px 24px;
  flex: 1;
  font-size: 16px;
  color: #112211;
}

.subscribe-form button {
  background-color: #112211;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 18px 32px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
  transition: 0.3s;
  flex-shrink: 0;
}

.subscribe-form button:hover {
  background-color: #2a3d2a;
}

.mailbox-img {
  max-width: 100%;
  height: auto;
}

.footer-main {
  display: flex;
  justify-content: center;
  width: 95%;
  gap: 80px;
  margin: -40px auto 0;
}

.social-links {
  display: flex;
  gap: 12px;
  margin-top: 24px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
}

.footer-col h4 {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 16px;
}

.footer-col a {
  display: block;
  text-decoration: none;
  color: #112211;
  font-size: 14px;
  opacity: 0.6;
  margin-bottom: 12px;
}

@media (max-width: 1024px) {
  .mailbox-img {
    display: none;
  }

  .subscribe-banner {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 40px 30px;
    text-align: center;
  }

  .subscribe-form input {
    width: 100%;
  }

  .subscribe-form {
    flex-direction: column;
  }

  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }

  .footer-main {
    gap: 40px;
  }

  .footer>div {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 780px) {
  .footer-brand {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    order: 2;
  }

  .footer-links {
    order: 1;
  }

  .footer-main {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links {
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
  }

  .subscribe-form {
    flex-direction: column;
    width: 100%;
  }

  .subscribe-form input,
  .subscribe-form button {
    width: 100%;
  }
}

/* 3 text-block */
#fall-into-travel-2 {
  font-family: sans-serif;
  margin: 40px 5.7em;
}

#fall-into-travel-info-2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  width: 100%;
}

#fall-into-travel-2 h2 {
  margin-bottom: 10px;
}

#fall-into-travel-2 p {
  margin: 0;
  color: #112211;
  opacity: 0.7;
  line-height: 1.5;
  max-width: 80%;
}

#see-all-2 {
  border: 1px solid #8DD3BB;
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  font-family: inherit;
  white-space: nowrap;
}

#sri-lanka {
  display: flex;
  gap: 24px;
  margin-bottom: 80px;
}

#left-shi-lanka {
  background-color: #8DD3BB;
  border-radius: 15px;
  padding: 24px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#left-shi-lanka h1 {
  font-size: 40px;
  margin: 0;
  color: #112211;
}

.sri-lanka-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  flex: 1;
}

.sri-lanka-gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 12px;
}

#book-button-sri-lanka {
  width: 100%;
  padding: 12px 0;
  background-color: #fff;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

@media (max-width: 1024px) {
  #fall-into-travel-2 {
    margin: 40px 2em;
  }

  #sri-lanka {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  #fall-into-travel-2 #fall-into-travel-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .sri-lanka-gallery {
    grid-template-columns: 1fr;
  }
}
.search-card{
  padding: 20px;
  margin-top: -80px;
}

/* 1 text-block */
#fall-into-travel-1 {
  font-family: sans-serif;
  margin: 1em 5.7em;
  margin-top: 2em;
}

#fall-into-travel-1 .content-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  width: 100%;
}

#fall-into-travel-1 h2 {
  margin-bottom: 10px;
}
#fall-into-travel-1 h2, #fall-into-travel-2 h2{
    letter-spacing: 0.3px;
}

#fall-into-travel-1 p {
  max-width: 80%;
}

.btn-style {
  /**/
  border: 1px solid #8DD3BB;
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  font-family: inherit;
  white-space: nowrap;
}

.fall-travel-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  padding: 15px;
}

.travel-card {
  position: relative;
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
}

.travel-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.travel-card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 100%);
}

.card-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: white;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.top-row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.city {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.info {
  font-size: 14px;
  margin: 4px 0 0 0;
  opacity: 0.9;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.button-flight {
  background-color: #8DD3BB;
  border: none;
  border-radius: 4px;
  padding: 12px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
}

.button-flight:hover {
  background-color: #7cc0a9;
}

@media (max-width: 1200px) {
  #fall-into-travel-1 {
    margin: 120px 2em 0 2em;
  }

  .fall-travel-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  #fall-into-travel-1 {
    margin: 60px 1em 0 1em;
  }

  #fall-into-travel-info {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  #fall-into-travel-info h2 {
    font-size: 24px;
  }

  #fall-into-travel-info p {
    font-size: 14px;
  }

  #b-see-all {
    width: 100%;
    text-align: center;
  }

  .fall-travel-cards {
    grid-template-columns: 1fr;
    gap: 16px;
  }

  .travel-card {
    height: 350px;
  }
}

#b-see-all,
#btn-see-all,
#see-all {
  border: 1px solid #8DD3BB;
  background-color: white;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  height: fit-content;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 14px;
  transition: background-color 0.2s;
  white-space: nowrap;
}

#b-see-all:hover,
#btn-see-all:hover,
#see-all:hover {
  background-color: #e2e0e0;
}

@media (max-width: 768px) {

  #fall-into-travel-info,
  .text_map {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    margin-left: 0 !important;
    padding: 0 15px;
  }

  .text_map {
    display: flex;
    width: auto;
  }
}

@media (max-width: 1200px) {

  .places_map,
  #fall-into-travel-1,
  #fall-into-travel-2 {
    margin-left: 2em;
    margin-right: 2em;
  }
}

@media (max-width: 768px) {

  .places_map,
  #fall-into-travel-1,
  #fall-into-travel-2 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .text_map h2,
  #fall-into-travel-1 h2,
  #fall-into-travel-2 h2 {
    font-size: 24px;
  }
}