*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.hidden-class{
    display: hidden;
}
@font-face {
  font-family: 'Montserrat';
  src: url(fonts/Montserrat-Italic-VariableFont_wght.ttf) format(ttf),
       url(fonts/Montserrat-VariableFont_wght.ttf) format(ttf);
}
@font-face {
  font-family: 'Ramabhadra';
  src: url(fonts/Ramabhadra.ttf) format(ttf);
}
#nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1em 4em;
    height: 60px;
    font-weight: 500;
    flex-wrap: wrap;
}

#nav-left, #nav-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

#nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    text-decoration: none;
    color: #000;
    height: 60px;
}

#nav button {
    padding: 8px 16px;
    border-radius: 8px;
    background: #0f2b1d;
    color: #fff;
    border: none;
    cursor: pointer;
}

.nav-logo {
    width: 110.35px;
    height: 36px;
}

.nav-settings {
    width: 24px;
    height: 24px;
}

#stays{
    height: 100%;
    border-bottom: 4px solid #8DD3BB;
}

#back-photo{
    width: 100%;
    height: 80vh;
     background-image:
        linear-gradient(to right, rgba(25, 38, 122, 0.6) 0%, rgba(0, 0, 0, 0) 80%),
        url("photos_hotel/da304a6df20aa065fb20dbd850c57d4cafaeccc8.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

#header-text{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: xx-large;
    text-decoration: none;
    border: 1px solid red;
    justify-content: center;
    width: 30%;
    margin-top: 2em;
    margin-left: 1em;
    
}
#header-text h3{
    font-family: 'Ramabhadra', sans-serif;
    font-weight: 500 !important;
    letter-spacing: 0.5px;
}
#header-text h4{
    font-family: 'Ramabhadra', sans-serif;
    font-weight: 400 !important;
    font-size: large;
    letter-spacing: 0.5px;
}

@media screen and (max-width: 780px){
    #logo{
        order: 1;
        width: 100%;
        justify-content: center;
        display: flex;
        margin-bottom: 0.5em;
    }
    #nav-left{
        order: 2;

    }
    #nav-right{
        order: 3;
    }
    .nav-p{
        display: none;
    }
    #nav{
        margin: 1em 2em;
        justify-content: space-around;
        gap: 10px;
    }
    #back-photo{
        margin-top: 4em;
    }
    #header-text{
        margin: 0 auto;
        margin-top: 2em;
        text-align: center;
        width: 60%;
        font-size: x-large;
    }
    #header-text h4{
    font-size: medium;
    }
}